/* ---- GLOBAL STYLES ---- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-size: 20px;
    color:#95A2AA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ---- GLOBAL STYLES END ---- */


/* ---- NAVBAR STYLING ---- */

#navbar {
    height: 50px;
    background: #282653;
    color: #95A2AA;
    font-size: .75rem;
    width: 100%;
}

.nav-tabs {
    display:inline;
    background: #282653;
}

#navbar ul li a {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.nav-tabs a {
    font-size: .75rem;
    font-weight: 400;
    color: #95A2AA;
    text-decoration: none;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: block;
}

#navbar ul > li:first-child {
    margin-left: 2rem;
}

.active, .active > a {
    background: #7F56C5;
    color: #ffffff !important;
}

/* ---- NAVBAR STYLING END ---- */


/* ---- USER INFO TABLE ---- */

#info-table {
    table-layout: fixed;
    margin: 0px auto;
    border-collapse: collapse;
    padding: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
}

#info-table td, #info-table th{
    overflow: hidden;
    text-overflow: ellipsis;
    width:9%;
    white-space: nowrap;
    height: 32px;
    text-align: left;
}

#info-table td:nth-child(4), #info-table th:nth-child(4) {
    width: 21%;
}

#info-table td:last-child, #info-table th:last-child {
    width: 12%;
}

#info-table td:first-child, #info-table th:first-child {
    padding-left: 1%;
}

#info-table-caption {
    font-size: 1rem;
    font-weight: 400;
    color: #7F56C5;
    text-align: left;
    padding-bottom: .5rem;
}

#items-per-page {
    float:right;
}

#title-sort {
    float:left;
}

#sort-type {
    color: #7F56C5;
    font-weight: 400;
}

#sort-items {
    font-size: .75rem;
    color: #1DAFE9;
    font-weight: 600;
}

.table-header {
    height: 32px;
    background: #CACBCE;
    border-radius: 3px 3px 0 0;
}

.table-header th:first-child {
    border-radius: 3px 0px 0 0;
}

.table-header th:last-child {
    border-radius: 0px 3px 0 0;
}

.table-header th {
    font-size: .75rem;
    font-weight: 700;
    color: #373752;
}

.table-row {
    height: 32px;
    font-size: .75rem;
    font-weight: 400;
    color: #808285;
}

.table-row:nth-child(even) {background: #F0F0F0}
.table-row:nth-child(odd) {background: #F7F7F7}

.page-arrows {
    padding-left: .15em;
    padding-right: .25em;
    font-size: 1.2rem !important;
}

#items-per-page-dropdown {
    padding-left: .25em;
    padding-right: .75em;
}

/* ---- USER INFO TABLE ---- */